.titulo{
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
    margin-bottom: 0;
    margin-top: 70px;
}

.title-a{
  font-size: 24px;
  margin-top: 0;
}

.title-b{
  font-size: 50px;
  margin-bottom: 20px;
}

.productos h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}
.portada{
  background-image: url("../images/background.png");
  color: white;
  padding: 20px;
}

.portada button{
  margin-bottom: 70px;
}

.productos{
  color: #1F313C;
}

.menu{
  font-size: 24px;
  display: inline-block;
}

body{
font-family: 'Allerta', sans-serif;
margin: 0;
}

.menu li {
  display: inline-block;
  margin-left: 30px;
}

.logo{
  display: inline-block;
}

.contenedor{
  width: 800px;
  margin: auto;
}
